@font-face {
  font-family: bebas;
  src: url(fonts/BebasNeue-Regular.woff);
}
@font-face {
  font-family: montserrat;
  src: url(fonts/MontserratAlternates-ExtraLight.otf);
}
@font-face {
  font-family: roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

body{
  font-family: roboto;
  background-color: white;
  text-align: center;
  background-image: url('assets/header-background.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #737373;
}

a{text-decoration: none;}

nav{background-color: white;text-align: left; padding: 5px;}
nav #logo{
  height: 60px;
  background-image: url('assets/fi.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 68px;
  width: 79px;
  text-align: left;
  padding-top: 10px;
  margin: 10px;
  font-size: smaller;
}

nav a{
  border: 1px solid #960100;
  color: #960100;
  padding: 12px 18px 12px 18px;
  margin: 8px;
  margin-top: 20px;
  float: right;
  border-radius: 3px;
  transition: background-color 170ms ease-out,color 170ms ease-out;
}
nav a:hover{
  color: #737373;
  background-color: #960100;
}

#img-front{
  height: 50vw;
}

header{
  font-family: bebas;
  background-color: rgba(255, 255, 255, 0.55);
  margin: 0;
  padding: 10px 0px 10px 0px;
  margin-top: 0px;
  width: 100vw;
}
header h1 { margin: 0; padding: 0; color: #960100;}
header h2{ margin: 0; padding: 0;
  font-family: montserrat;
  font-size: xx-small;
  color: white;
}

main{
  background-color: white;
}

main #emojis{ margin: 0; padding: 10px; font-size: x-large;}

/*
main section#one {
  background: url('assets/view.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 33vw 53vw 0vw 0vw;
}
main section#one h3{
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 15px;
  margin: 0;
  border-radius: 0px 50px 0px 0px;
}
main section#two {
  background: url('assets/soap.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vw 0vw 33vw 0vw;
}
main section#two strong{
  background-color: white;
  padding: 3px;
}
*/

section#vision{
  background-image: url('assets/fi.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #D9D9D9;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(2, 50%);
}
section#vision div{
}
section#vision article{
  background-color: white;
  padding: 10%;
}

main article{
  text-align: justify;
  padding: 10px;
}
main article h1{
  color: #960100;
  text-transform: uppercase;
  font-family: bebas;
  font-size: x-large;
  margin: 0px 0px 10% 0px;
}
main article p{
  line-height: 1.8em;
  font-family: Montserrat;
  font-weight: bold;
}

main #img-last{
  height: 45vw;
  background: url('assets/plants.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.brand-logo{
  width: 10vw;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 7vw;
  margin-bottom: 7vw;
}


@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
div#slider { width: 100%; max-width: 1000px; overflow: hidden }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 15s slidy infinite;
}
div#slider figure img { width: 20%; height: auto; float: left; }

form input, form textarea{
  border: 0;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
}
form input[type="email"], form textarea{
  border-bottom: 2px solid #555555;
  padding-bottom: 10px;
  margin-top: 1em;
  font-size: 1rem;
}
form input[type="email"]:focus, form textarea:focus{
  border-color: red;
  transition: all 0.75s ease-in-out;
}
form textarea{
  height: 100px;
  resize: none;
}
form input[type="submit"]{
  margin-top: 10px;
  padding: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(25deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  border-radius: 20px;
}

footer{background-color: black; margin-top: 20px;}
footer ul{
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
}
footer li{margin: 0;}
footer a{color: white;}
footer a:hover{color: blue;}
