@font-face {
  font-family: bebas;
  src: url(fonts/BebasNeue-Regular.woff);
}
@font-face {
  font-family: montserrat;
  src: url(fonts/MontserratAlternates-ExtraLight.otf);
}
@font-face {
  font-family: roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

body{
  font-family: roboto;
  background-color: white;
  text-align: center;
  background-image: url('assets/header-background.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  margin: 0;
  padding: 0;
}

a{text-decoration: none;}

#img-front{
  height: 45vw;
}

header{
  font-family: bebas;
  background-color: rgba(255, 255, 255, 0.55);
  margin: 0;
  padding: 10px 0px 10px 0px;
  margin-top: -36px;
  width: 100vw;
}
header h1 { margin: 0; padding: 0;}
header h2{ margin: 0; padding: 0;
  font-family: montserrat;
  font-size: xx-small;
}

main{
  background-color: white;
}

main #emojis{ margin: 0; padding: 10px; font-size: x-large;}

main section#one {
  background: url('assets/view.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 33vw 53vw 0vw 0vw;
}
main section#one h3{
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 15px;
  margin: 0;
  border-radius: 0px 50px 0px 0px;
}
main section#two {
  background: url('assets/soap.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vw 0vw 33vw 0vw;
}
main section#two strong{
  background-color: white;
  padding: 3px;
}
main article{
  text-align: justify;
  padding: 10px;
}

main #img-last{
  height: 45vw;
  background: url('assets/sleep-well.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.logo{
  width: 10vw;
  margin-left: 6vw;
  margin-right: 6vw;
}

form input, form textarea{
  border: 0;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
}
form input[type="email"], form textarea{
  border-bottom: 2px solid #555555;
  padding-bottom: 10px;
  margin-top: 1em;
  font-size: 1rem;
}
form input[type="email"]:focus, form textarea:focus{
  border-color: red;
  transition: all 0.75s ease-in-out;
}
form textarea{
  height: 100px;
  resize: none;
}
form input[type="submit"]{
  margin-top: 10px;
  padding: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(25deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  border-radius: 20px;
}

footer{background-color: black; margin-top: 20px;}
footer ul{
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
}
footer li{margin: 0;}
footer a{color: white;}
footer a:hover{color: blue;}
