<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Zerowasteapartment</title>
    <link rel="stylesheet" href="public/style.css">
    <link href="public/lib/aos/aos.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="https://ecobnb.com/GR-athens/bed-breakfast/athens-first-zero-waste-apartment/51DCC" target="_blank">
        Book
      </a>
      <div id="logo">Zero waste short term rental</div>
    </nav>
    <div id="img-front"></div>
    <header data-aos="fade-right">
      <h1>Zero Waste Apartment</h1>
      <h2>We create zero waste short term rentals</h2>
    </header>
    <main>
      <section id="vision">
        <div>
        </div>
        <article>
          <h1>Our vision</h1>
          <p>
            We are embracing the environmental movement that seeks to reduce the amount of garbage on the planet by waste prevention.
          </p>
          <p>
            By creating zero waste households and putting sustainability into practice, we are changing people’s personal consumption habits.
          </p>
          <p>
            Proving the feasibility of living zero waste opens a whole new world.
          </p>
        </article>
      </section>
      <article data-aos="fade-right">
        <h2>WHAT are we doing ?</h2>
        <p>
          ☀️ We are creating zero waste households and putting sustainability into practice in order to prove their feasibility. We are embracing the environmental movement that seeks to reduce the amount of garbage on the planet by changing people’s personal consumption habits.
        </p>
      </article>
      <div id="img-last"></div>
      <article data-aos="fade-right">
        <p>
          🐢 Slow down & enter a quiet oasis after a long day in Athens urban jungle. Enjoy a calm and clean atmosphere while experiencing a zero waste lifestyle.
        </p>
      </article>
      <a data-aos="zoom-in"
      data-aos-duration="4000"
      href="https://ecobnb.com/GR-athens/bed-breakfast/athens-first-zero-waste-apartment/51DCC" target="_blank">
        <img class="brand-logo" src="public/assets/brands/ecobnb.png" alt="ecobnb">
      </a>
      <a data-aos="zoom-in"
      data-aos-duration="2000"
      data-aos-delay="100"
      href="https://www.airbnb.co.uk/rooms/37611892" target="_blank">
        <img class="brand-logo" src="public/assets/brands/airbnb.png" alt="airbnb">
      </a>
      <a data-aos="zoom-in"
      data-aos-duration="3000"
      data-aos-delay="300"
      href="https://www.facebook.com/404048180148626/posts/have-a-look-at-athens-first-zero-waste-apartment-in-exarchia-soon-available-for-/429974997555944/" target="_blank">
        <img class="brand-logo" src="public/assets/brands/facebook.png" alt="facebook">
      </a>
      <article
      data-aos="zoom-in"
      data-aos-duration="4000"
      data-aos-delay="700">
        <h3>Download our explanatory booklet</h3>
        <a href="/zero-waste-community.pdf" target="_blank">
          <div id="slider">
            <figure>
              <img src="public/assets/booklet-preview/1.png" alt="booklet preview">
              <img src="public/assets/booklet-preview/2.png" alt="booklet preview">
              <img src="public/assets/booklet-preview/3.png" alt="booklet preview">
              <img src="public/assets/booklet-preview/4.png" alt="booklet preview">
              <img src="public/assets/booklet-preview/1.png" alt="booklet preview">
            </figure>
          </div>
        </a>
      </article>
      <!--
      <article id="contact" data-aos="flip-left">
        <h2>Let's keep in touch</h2>
        <%= email.error %>
        <%= message.error %>
        <form action="#contact" method="post">
          <input type="email" name="email" placeholder="Your email" value="<%= email.value %>">
          <textarea name="message" placeholder="Your message" maxlength="512"><%= message.value %></textarea>
          <input type="submit" value="Send your message">
        </form>
      </article>
    -->
      <footer>
        <ul>
          <li><a href="http://girlsinvestgreece.io" target="_blank">girls invest greece</a></li>
        </ul>
      </footer>
    </main>

    <!-- scripts -->
    <script src="public/lib/aos/aos.js"></script>
    <script>
      AOS.init();
      /* https://michalsnik.github.io/aos/ */
    </script>
    <!-- END scripts -->

  </body>
</html>
